server:
  port: 8000

spring:
  application:
    name: instagram-backend

  datasource:
    url: jdbc:mysql://localhost:3306/instagram_db?useSSL=false&serverTimezone=UTC
    username: root
    password: Harshita@123
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
#        dialect: org.hibernate.dialect.MySQL8Dialect

  security:
    user:
      name: admin
      password: admin

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org.springframework.security: DEBUG

jwt:
  secret: instagram_secret_key_12345
  expiration: 86400000   # 1 day in milliseconds
